################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Arenda/FileContentIndex/b23722b0-6dc3-44da-83f9-db8d8bb00c57.vsidx
